*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
header{
    background-color: rgb(38, 38, 255);
    width: 100%;
    height: 60px;
}

/*HEADER-H1*/
div.center h1{
    max-width: 1280px;
    color: white;
    margin: 0 auto;
    padding-top: 10px;
}

div.center{
    max-width: 1280px;
    margin: 0 auto;
}

/*BANNER*/
.container{
    width: 100%;
    min-width: 480px;
    height: 557px;
    background-image: url(imagens/header_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(196, 196, 196);
}

.container > .center{
    height: 100%;
}

/*FORMULARIO*/
.center form{
    background-color: white;
    height: calc(100% + 30px);
    width: 400px;
    float: right;
    position: relative;
    top: -15px;
    border: 3px solid #cccc;
}

form h2{
    width: 300px;
    margin: auto;
    margin-top: 5px;
    color: #9c9c9c;
}

/*FORMULARIO*/
div.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.input-container label{
    margin-top: 40px;
    margin-left: 12%;
}

/*FORMULARIO*/
input{
    width: 300px;
    height: 40px;
    margin:auto;
    margin-top: 5px;
    border-radius: 8px;
    border-color: #cccc;
}

/*FORMULARIO*/
input[type=submit]{
    margin-top: 60px;
    height: 50px;
    background-color: rgb(38, 38, 255);
    color: white;
    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 2px 2px rgb(116, 116, 116);
}

/*FORMULARIO*/
input[type=submit]:hover{
    width: 310px;
    height: 55px;
    transition: 0.3s;
}

/*LISTA-CONTAINER*/
.container-list{
    float: left;
    width: 650px;
    max-width: 480px;
    height: 270px;
    background-color: rgba(33, 35,67, 0.7);
    margin-top: 60px;
}

/*LISTA-CONTAINER*/
.container-list ul{
    list-style-position: inside;
    margin-top: 60px;
}

/*LISTA-CONTAINER*/
.container-list ul li{
    color: white;
    margin-top: 20px;
}

/*CONTEUDO*/
article{
    background-color: #cccc;
}

div.texto{
    margin: auto;
}

div.texto h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*CONTEUDO*/
div.texto{
    width: 800px;
    max-width: 480px;
    padding: 20px 50px;
    font-style: italic;
    text-align: center;
}

div.texto p{
    margin-bottom: 60px;
}

/*ARROW*/
div.arrow{
    position: relative;
    top: -20px;
    width: 64px;
    height: 64px;
    margin: auto;
    background-image: url(imagens/arrow.png);
}

/*CONTAINER-IMAGENS*/
.section h2{
    text-align: center;
}

.section{
    padding: 90px 0;
}

.container-section{
   margin-top: 20px;
   text-align: center;
   float: left;
}

.container-imagem{
    float: left;
    width: 33.333%;
    padding: 30px;
}

/*RODA PE*/
footer{
    clear: both;
    margin-top: 200px;
    border: 1px solid black;
}

footer p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer p span{
    font-weight: bolder;
}